body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, #E5E7EB, #FFFFFF); 
    color: #4648AA;
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal;
    box-sizing: border-box;
}

#nav-bar{
    color: #4648AA;
    box-shadow: 0px 20px 50px 20px rgba(0,0,0,.05);
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 999;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240,240,240);
}

#circular-image {
    width : 110px;
    height: 110px;
    border-radius: 50%;
    overflow:hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 120px;
}



#links {
    width: 50%;
    margin-right: 310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links a {
    font-size: x-large;
    color: #4648AA;
}
#links a:hover {
    text-decoration: none;
    color: #fff;
}

#GetStart-btn{
    background-color: #4648AA;
    color: #ffffffdc;
    border: 1px solid #3d3e84;
    height: 65px;
    width: 190px;
    font-family: inherit;
    font-size: x-large;
    border-radius: 20px;
    margin-right: -150px
}

#conatiner
{
    padding:0 10% ;
    margin-left: -25px;
    margin-right: 110px;
}

#main-div {
    background-color:  rgb(240,240,240);
    border-radius: 20px;
    border: 2px;
    height: 100%;
    width : 100%; 
    margin-top   : 70px;
    margin-bottom: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section {
    display: block;
    width: 45%;
}

.title{
    margin-top: 30px;
    font-size: 60px;
    margin: 40px 0;
    color:#4648AA;
    font-weight: 999;
}

#paragraph{
    margin-top: -30px;
    font-size:30px ;
    margin:20px 10px;
}

#btns{
    margin-top: 10px;
}
#btns-qr{
   display: flex; 
   flex-direction:row;
   align-items: center;
}

#Qr
{
    width: 180px;
    margin-left: 50px;
}
#first-img{

    width: 45%;
    height:600px;
    border-radius: 20;
}

#About-us{
    background-color:  rgb(240,240,240);
    border-radius: 20px;
    border: 2px;
    height: 100%;
    width : 100%; 
    margin-bottom: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Connect-us{
    background-color:  rgb(240,240,240);
    border: 2px;
    height: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
} 

#GetStart-btn:hover{
    font-weight: 600;
    padding: 0 15px;
    background-color: #fff;
    color: #4648AA;
} 

#btn{
    border-radius: 20px;
    width: 250px;
    height: 65px;
    font-size: x-large;
    display: block;
    margin-bottom: 15px;
    background-color: #4648AA;
    color: #eeececec;
}

#btn:hover{
    font-weight: 600;
    padding: 0 15px;
    background-color: #fff;
    color: #4648AA;
    border: 1px solid #282961;
}

#img1-1 {
    width: 45%;
    max-width: 400x;
    height: 500px;
   margin-top: 2px;
   margin-left: 10px;
}

/* #p1-1{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 15px; 
} */

#team-bar {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    align-items: center;
}

.team-members {
    display: flex;
    animation: scrollTeamMembers 30s linear infinite;
}

.team-member {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    margin: 0px 15px;
    align-items: center;
    text-align: center;
    margin-left: 120px;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #4648AA;
    box-shadow: 4px 4px 4px #1d1d3a; /* Light shadow */
}

.team-member img:hover{
    border: 2px solid rgb(240,240,240);
    box-shadow: 4px 4px 4px rgb(181, 180, 180); /* Light shadow */
}

@keyframes scrollTeamMembers {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
    }
}






#img2-1{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media (max-width: 1400px) {
    #links {
        width: 70%;
        }
}
@media (max-width: 1200px) {
    #btns-qr {
        flex-direction:column;
    }
    #About-us{
        flex-direction: column;
    }
    #img1-1{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    #links {
    width: 80%;
    }
}


@media (max-width: 768px) {
    #nav-bar{
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        margin: 0 10%;
    }

    #circular-image{
        margin-top: 10px;
    }

    #links {
        width: 100%;
        margin: 15px 0;
    }

    #links a {
        font-size: large;
        margin-bottom: 10px;
    }

    #conatiner{
        padding: 0 5%;
    }

    #main-div{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0;
    }

    #section {
        width: 100%;
        margin: 0;
    }

    #paragraph {
        font-size: medium;
        margin: 10px 0;
    }

    #btns-qr{
        flex-direction: column;
        align-items: center;
    }

    #Qr {
        margin: 10px 0;
    }

    #first-img {
        width: 100%;
        height: auto;
    }

    #About-us{
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0;
    }

    #img1-1 {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }

    #p1-1 {
        margin: 10px 0;
    }

    #Connect-us {
        height: auto;
        padding: 20px 0;
    }

    #img2-1 {
        margin: 5px;
    }

}
